.wrapper {
  display: flex;
  margin-bottom: 1rem;
}

.wrapper-left {
  margin-right: 1rem;
}

.wrapper-right{
  flex-grow: 1;
}

.wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;
  margin-top: 0;
}

label {
  display: block;
  margin: 0.5rem;
}

#deadline-date {
  font-size: 1rem;
  font-family: sans-serif;
  box-sizing: border-box;
  color: var(--text-normal);
  line-height: 1.3;
  border: 1px solid var(--background-modifier-border);
  border-radius: 0.5rem;
  background-color: var(--background-modifier-form-field);
  padding: 0.4em;
}

#btn-create-deadline {
  float: right;
  margin-right: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 500px;
  padding: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.calendar-month-bar {
  flex-basis: 100%;
  flex-grow: 1;
  /* border: 1px solid var(--background-modifier-border); */
}

.calendar-month-bar h2 {
  font-size: 1rem;
  font-weight: normal;
  padding: 0.2rem;
  margin: 0;
}

.calendar-month-bar:first-of-type {
  font-size: 1.2rem;
}

.calendar-week-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 100%;
}

.calendar-week-bar span {
  padding: 0.2rem;
  width: calc(100% / 7);
  border: 1px solid var(--background-modifier-border);
  text-align: center;
}

.calendar-day-block {
  width: calc(100% / 7);
  border: 1px solid var(--background-modifier-border);
  min-height: 8rem;
  position: relative;
  padding: 0.2rem;
}

.calendar-day-block-number {
  display: inline-block;
  padding: 0.3rem;
}

.calendar-day-block-today .calendar-day-block-number {
  color: var(--text-accent);
  font-weight: bold;
  background: var(--background-primary-alt);
}

.calendar-day-block-weekend {
  background: var(--background-secondary);
}

.calendar-add-btn {
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  padding: 0.2rem;
  margin-right: 0;
  display: none;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0rem;
  font-size: 1.2rem;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.calendar-day-block:hover .calendar-add-btn {
  display: inline-block;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.calendar-deadline {
  font-size: 0.8rem;
  border: 1px solid var(--background-modifier-border);
  border-radius: 0.2rem;
  padding: 0.3rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
}

.calendar-deadline p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.calendar-deadline-name {
  margin-bottom: 0.1rem;
  margin-top: 0;
}

.calendar-deadline-group {
  font-size: 0.7rem;
  line-height: 0.85rem;
  margin: 0;
  padding: 0.1rem;
  border-radius: 0.2rem;
}

.calendar-deadline-doing {
  border-color: 1px solid var(--interactive-accent);
  background: var(--background-secondary-alt);
}